<!DOCTYPE html>
<html lang="en">
<head>
	<title>Canasta</title>

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">

	<script src="js/jquery-1.7.2.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/handlebars-1.0.0.beta.6.js"></script>

	<script id="types-template" type="text/x-handlebars-template">
		{{#each type}}
			<li id='{{id}}'><a href='#'>{{name}}</a></li>
		 {{/each}}
	</script>

	<script id="items-template" type="text/x-handlebars-template">
		{{#each item}}
			<li>{{name}} - <em>{{description}}</em> - $<strong>{{price}}</strong> - <a href='#' id='{{id}}'>Buy</a></li>
		 {{/each}}
	</script>

	<script id="item-cart-template" type="text/x-handlebars-template">
			<li>{{name}} - $<strong>{{price}}</strong> - <a href='#' id='{{id}}'>Remove</a></li>
	</script>


</head>
<body>

  <div class="row show-grid">
    <div id="types" class="span2">
    	<h3>Types</h3>
    	<ul class="nav nav-tabs nav-stacked">
    	</ul>
    </div>
    
    <div id="items" class="span7">
    	<h3>Pick a type from the left column.</h3>
    	<ul>
    		<li>Buying food here is easy!</li>
    	</ul>
    </div>
    <div id="cart" class="span3">
    	<h3>My Cart (<span>0</span>)</h3>

    	<ul></ul>

    	<h4>Total: $<span id='price'>0</span>.00</h4>

    	<p><a href="#" class="btn btn-primary disabled">Checkout</a></p>

    </div>
  </div>

	<script src="js/app.js"></script>

</body>
</html>